#gitignore
#macOS
.DS_Store

#node.js

node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
yarn.lock

#IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

#OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Icon?

#Dist
dist/